@font-face {
    font-family: 'dogica';
    src: url('fonts/dogica.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'dogica';
    src: url('fonts/dogicabold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'dogica';
    src: url('fonts/dogicapixel.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'dogica';
    src: url('fonts/dogicapixelbold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}